In [20]:
import requests
import datetime
import pandas as pd

[api call function modified from this tutorial](https://medium.com/@galea/cryptocompare-api-quick-start-guide-ca4430a484d4)

In [21]:
def coin_data(symbol, comparison_symbol, all_data=True, rows=1, aggregate=1):
    # symbol = symbol for the coin you want data for
    # comparison_symbol = symbol for the currency you want coin prices in
    # subset the data: set all_data=False use rows parameter to specify
    # set to_csv=True to write to dataframe
    
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(),
                    comparison_symbol.upper(),
                    rows,
                    aggregate)
    
    if all_data:
        url += '&allData=true'
        
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['date'] = [datetime.datetime.fromtimestamp(d) for d in df.time]
    df.drop('time', axis=1, inplace=True)
    return df

In [22]:
# collect coin data
eth_raw = coin_data('ETH', 'USD')
btc_raw = coin_data('BTC', 'USD')
xrp_raw = coin_data('XRP', 'USD')
eos_raw = coin_data('EOS', 'USD')
ltc_raw = coin_data('LTC', 'USD')
xlm_raw = coin_data('XLM', 'USD')
xmr_raw = coin_data('XMR', 'USD')

In [7]:
# inspect output
eth_raw.head()

   close  high     low    open  volumefrom  volumeto           timestamp
0   3.00   3.0  0.6747  0.6747      123.93    371.79 2015-08-06 19:00:00
1   1.20   3.0  0.1500  3.0000     2119.43   1438.16 2015-08-07 19:00:00
2   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-08 19:00:00
3   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-09 19:00:00
4   0.99   1.2  0.6504  1.2000     9486.09   7419.73 2015-08-10 19:00:00

In [26]:
eth_raw.to_csv('eth_raw.csv', index=False)
btc_raw.to_csv('btc_raw.csv', index=False)
xrp_raw.to_csv('xrp_raw.csv', index=False)
eos_raw.to_csv('eos_raw.csv', index=False)
ltc_raw.to_csv('ltc_raw.csv', index=False)
xlm_raw.to_csv('xlm_raw.csv', index=False)
xmr_raw.to_csv('xmr_raw.csv', index=False)

In [27]:
eth_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131 entries, 0 to 1130
Data columns (total 7 columns):
close         1131 non-null float64
high          1131 non-null float64
low           1131 non-null float64
open          1131 non-null float64
volumefrom    1131 non-null float64
volumeto      1131 non-null float64
timestamp     1131 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(6)
memory usage: 61.9 KB