In [16]:
import requests
import datetime
import pandas as pd

[api call function modified from this tutorial](https://medium.com/@galea/cryptocompare-api-quick-start-guide-ca4430a484d4)

In [143]:
# this function currently outputs the way other notebooks are set up to use
def coin_data(symbol, comparison_symbol='USD', all_data=True, rows=1, aggregate=1):
    # symbol = symbol for the coin you want data for
    # comparison_symbol = symbol for the currency you want coin prices in
    # subset the data: set all_data=False use rows parameter to specify
    
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(),
                    comparison_symbol.upper(),
                    rows,
                    aggregate)
    
    if all_data:
        url += '&allData=true'
        
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['date'] = [datetime.datetime.fromtimestamp(d) for d in df.time]
    df.drop('time', axis=1, inplace=True)
    return df

In [168]:
# rework function to output cleaner df and give option to write to file

def coin_data2(symbol,
               comparison_symbol='USD',
               all_data=True,
               rows=1,
               aggregate=1,
               write_to=False):
    
    # symbol = symbol of desired coin
    # comparison symbol = symbol for currency to price with
    # to subset data, set all_data to false, then specificy with rows parameter
    # write_to = write dataframe to supported filetype: csv, json, pickle
    
    # api call
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(),
                    comparison_symbol.upper(),
                    rows,
                    aggregate)
    
    if all_data:
        url += '&allData=true'
    
    # store in dataframe
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['date'] = [datetime.datetime.fromtimestamp(d) for d in df.time]
    df['date'] = df.date.dt.date
    df['date'] = pd.to_datetime(df.date, format='%Y-%m-%d')
    df.drop('time', axis=1, inplace=True)
    df = df[['date', 'open', 'high', 'low', 'close', 'volumefrom', 'volumeto']]
    df.sort_values(by='date', inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    # write to file option
    return_df=True
    if write_to is not False:
        return_df=False
        filename = symbol.lower() + '_data_' + date + '.{}'.format(write_to)
        write_df(df, write_to, filename)
        
    if return_df is True:
        return df

def write_df(df, write_to, filename):
    if write_to == 'csv':
        df.to_csv('{}'.format(filename), index=False)
    elif write_to == 'pkl':
        df.to_pickle('{}'.format(filename))
    elif write_to == 'json':
        df.to_json('{}'.format(filename), orient='split')
    else:
        print('function does not support writing to {}'.format(write_to))
        print('format filetype as shown (string in all lower case)')
        print('supported filetypes: csv, json, pkl')

In [158]:
# test function
# this should return a df in notebook
coin_data2(symbol='EOS').head()

        date   open    high     low  close  volumefrom     volumeto
0 2017-06-28  0.850  0.9845  0.6000  0.850    15914.71     13984.83
1 2017-06-29  0.850  1.9100  0.6500  0.912    24407.23     22117.66
2 2017-06-30  0.912  1.3500  0.8000  1.050   113633.80    125944.71
3 2017-07-01  1.050  3.8800  0.9455  3.000  3376175.73   7026243.78
4 2017-07-02  3.000  6.9000  2.5000  4.200  5163248.87  21951537.56

In [161]:
# test writing arguments
coin_data2(symbol='EOS', write_to='csv')

In [171]:
coin_data2(symbol='EOS', write_to='json')

In [170]:
coin_data2(symbol='EOS', write_to='pkl')

In [172]:
# this should return the else statements from write_df function
coin_data2(symbol='EOS', write_to='sql')

function does not support writing to sql
format filetype as shown (string in all lower case)
supported filetypes: csv, json, pkl

In [18]:
# collect coin data
eth_raw = coin_data('ETH')
btc_raw = coin_data('BTC')
xrp_raw = coin_data('XRP')
eos_raw = coin_data('EOS')
ltc_raw = coin_data('LTC')
xlm_raw = coin_data('XLM')
xmr_raw = coin_data('XMR')

In [4]:
# inspect output
eth_raw.head()

   close  high     low    open  volumefrom  volumeto                date
0   3.00   3.0  0.6747  0.6747      123.93    371.79 2015-08-06 19:00:00
1   1.20   3.0  0.1500  3.0000     2119.43   1438.16 2015-08-07 19:00:00
2   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-08 19:00:00
3   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-09 19:00:00
4   0.99   1.2  0.6504  1.2000     9486.09   7419.73 2015-08-10 19:00:00

In [5]:
eth_raw.to_csv('eth_raw.csv', index=False)
btc_raw.to_csv('btc_raw.csv', index=False)
xrp_raw.to_csv('xrp_raw.csv', index=False)
eos_raw.to_csv('eos_raw.csv', index=False)
ltc_raw.to_csv('ltc_raw.csv', index=False)
xlm_raw.to_csv('xlm_raw.csv', index=False)
xmr_raw.to_csv('xmr_raw.csv', index=False)

In [6]:
eth_raw.name = 'eth_raw'

In [7]:
print(eth_raw.name)

eth_raw

In [38]:
df_test.head()

   close  high     low    open  volumefrom  volumeto                date
0   3.00   3.0  0.6747  0.6747      123.93    371.79 2015-08-06 19:00:00
1   1.20   3.0  0.1500  3.0000     2119.43   1438.16 2015-08-07 19:00:00
2   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-08 19:00:00
3   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-09 19:00:00
4   0.99   1.2  0.6504  1.2000     9486.09   7419.73 2015-08-10 19:00:00