In [1]:
import requests
import datetime
import pandas as pd
import matplotlib.pyplot as plt

Code modified from this guide: https://medium.com/@galea/cryptocompare-api-quick-start-guide-ca4430a484d4

In [2]:
def daily_price_historical(symbol, comparison_symbol, all_data=True, limit=1, aggregate=1, exchange=''):
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(), comparison_symbol.upper(), limit, aggregate)
    if exchange:
        url += '&e={}'.format(exchange)
    if all_data:
        url += '&allData=true'
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['timestamp'] = [datetime.datetime.fromtimestamp(d) for d in df.time]
    return df

In [15]:
def coin_data(symbol,
              comparison_symbol,
              all_data=True,
              limit=1,
              aggregate=1):
    
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(),
                    comparison_symbol.upper(),
                    limit,
                    aggregate)
    
    if all_data:
        url += '&allData=true'
        
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['timestamp'] = [datetime.datetime.fromtimestamp(d) for d in df.time]
    df.drop('time', axis=1, inplace=True)
    return df

In [16]:
eth_raw = coin_data('ETH', 'USD')
eth_raw.head()

   close  high     low    open  volumefrom  volumeto           timestamp
0   3.00   3.0  0.6747  0.6747      123.93    371.79 2015-08-06 19:00:00
1   1.20   3.0  0.1500  3.0000     2119.43   1438.16 2015-08-07 19:00:00
2   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-08 19:00:00
3   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-09 19:00:00
4   0.99   1.2  0.6504  1.2000     9486.09   7419.73 2015-08-10 19:00:00

In [10]:
# get coins
eth_raw = daily_price_historical('ETH', 'USD')
btc_raw = daily_price_historical('BTC', 'USD')
xrp_raw = daily_price_historical('XRP', 'USD')
eos_raw = daily_price_historical('EOS', 'USD')
ltc_raw = daily_price_historical('LTC', 'USD')
xlm_raw = daily_price_historical('XLM', 'USD')
xmr_raw = daily_price_historical('XMR', 'USD')

In [13]:
eth_raw.drop('time', axis=1, inplace=True)

In [14]:
eth_raw.head()

   close  high     low    open  volumefrom  volumeto           timestamp
0   3.00   3.0  0.6747  0.6747      123.93    371.79 2015-08-06 19:00:00
1   1.20   3.0  0.1500  3.0000     2119.43   1438.16 2015-08-07 19:00:00
2   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-08 19:00:00
3   1.20   1.2  1.2000  1.2000        0.00      0.00 2015-08-09 19:00:00
4   0.99   1.2  0.6504  1.2000     9486.09   7419.73 2015-08-10 19:00:00