In [1]:
import numpy as np
import pandas as pd
import scipy
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from fbprophet import Prophet

%matplotlib inline
#warnings.filterwarnings('ignore')
sns.set_style('whitegrid')
colors = sns.color_palette('deep', 8)
sns.set_palette(colors)

In [12]:
df_orig = pd.read_json('df.json', orient='split')
print(df_orig.info())
#df_orig.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2981 entries, 0 to 2980
Data columns (total 16 columns):
date              2981 non-null datetime64[ns]
eth_open          1134 non-null float64
eth_high          1134 non-null float64
eth_low           1134 non-null float64
eth_close         1134 non-null float64
eth_volumefrom    1134 non-null float64
eth_volumeto      1134 non-null float64
btc               2981 non-null float64
xrp               1332 non-null float64
eos               442 non-null float64
ltc               1786 non-null float64
xlm               605 non-null float64
xmr               1324 non-null float64
vixcls            2981 non-null float64
twexb             2981 non-null float64
effr              2981 non-null float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 395.9 KB
None

In [18]:
# set df for time series
ts = pd.DataFrame()
ts['ds'] = df_orig.date
ts['y'] = df_orig.eth_close
ts = ts[ts.y.isnull().sum():].reset_index(drop=True)
ts.head(1)

          ds    y
0 2015-08-06  3.0

In [39]:
ts_train = ts[:-7]
ts_test = ts[-7:]

m = Prophet(interval_width=0.95)
m.fit(ts_train)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/anaconda3/lib/python3.6/site-packages/pystan/misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [40]:
future = m.make_future_dataframe(periods=7)
future.tail()

             ds
1129 2018-09-08
1130 2018-09-09
1131 2018-09-10
1132 2018-09-11
1133 2018-09-12

In [41]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

             ds        yhat  yhat_lower  yhat_upper
1129 2018-09-08  266.419404  133.228911  408.248435
1130 2018-09-09  261.187740  130.978526  391.207660
1131 2018-09-10  257.466417  114.255574  386.711517
1132 2018-09-11  251.311235  127.794812  379.017172
1133 2018-09-12  246.043179  107.356083  373.465964

In [42]:
mresid = forecast.yhat[-7:] - ts_test.y
rmse = np.sqrt((mresid ** 2).mean())
print(rmse)

64.77358629189662